.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

#highlightedString {
  margin: 20px;
  outline: 0.01em solid black;
  text-align: left;
  display: inline-block;
  padding: 20px;
}
